{% extends 'base.html.twig' %}

{# home page #}
{% block title %}infos{% endblock %}

{% block body %}

<div class="info-wrapper">
    <div class="container">
        {# server infos #}
        <div class="mb-3">
            <h3 class="text-center my-4">Infos Serveur:</h3>

            <div class="d-flex justify-content-end my-2" >
                <a class="btn btn-success" href="{{ path('app_server_info_new') }}">ajouter un serveur</a>
            </div> 
            <table class="table">
                <thead>
                <tr>
                    <th>ip</th>
                    <th>nom</th>
                    <th>disq. utilisé</th>
                    <th>disq. libre</th>
                    <th>disq. total</th>
                    <th>mem. total</th>
                    <th>os / version</th>
                    <th>vhosts</th>
                    <th>dern. modif</th>
                    <th>actions</th>

                </tr> 
                </thead>
                <tbody>
                    {% if servers is defined and servers is not empty %}
                        {% for server in servers %}
                            <tr>
                                <td>{{server.ip}}</td>
                                <td>{{server.name}}</td>
                                <td>{{server.diskUsed}}</td>
                                <td>{{server.diskFree}}</td>
                                <td>{{server.diskSize}}</td>
                                <td>{{server.memSize}}</td>
                                <td>{{server.osType}}  {{server.osVersion}} </td>
                                <td>
                                    <select class="form-select form-select-sm" name="vhosts">
                                        <option value="">---</option>
                                        {% for vhost in server.vhosts %}
                                            <option value="{{vhost.id}}">{{vhost}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    {{ server.updatedAt 
                                        ? server.updatedAt |format_datetime('short', 'none', locale='fr') 
                                        : server.createdAt |format_datetime('short', 'none', locale='fr') 
                                    }}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('app_server_info_show', {'id': server.id}) }}">afficher</a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('app_server_info_edit', {'id': server.id}) }}">modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        {# orphan vhosts #}
        <div class="mb-3">
            <h3 class="text-center my-4">Vhosts non rattachés à un serveur:</h3>
            <div class="w-75">
                <table class="table">
                    <thead>
                        <tr>
                            <th>domaine</th>
                            <th>tls date expiration</th>
                            <th>tls jours restant</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    {% if orphansVhost is defined and orphansVhost is not empty %}
                        {% for vhost in orphansVhost  %}
                        <tr>
                            <td>{{vhost.hostname}}</td>
                            <td>{{vhost.tlsExpDate is not null ? vhost.tlsExpDate | format_datetime('short', 'none', locale='fr') : ''}}</td>
                            <td>{{ vhost.tlsDayLeft is not null ? vhost.tlsDayLeft : ''}}</td>
                            <td>
                                <span><a class="btn btn-sm btn-primary" href="{{ path('app_vhost_show', {'id': vhost.id}) }}">afficher</a></span>
                                <span><a class="btn btn-sm btn-warning" href="{{ path('app_vhost_edit', {'id': vhost.id}) }}">modifier</a><span> 
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}
