{% extends 'base.html.twig' %}

{% block title %}configuration serveur{% endblock %}

{% block body %}

<div class="d-flex">
    <div class="container">
            {# ajouter un serveur #}
            <h3 class='text-center my-4 '>Ajouter / supprimer des Serveurs </h1>
            <div class="d-flex flex-column align-items-center w-100">
                <div class="my-4 w-100">
                    <div>
                        {{ form_start(addServerForm)}}
                            {# errors #}
                            <div class="row form-error m-1">
                            {{ form_errors(addServerForm)}}
                            </div>
                            <div class="row m-1">
                                <div>Ajouter un nouveau serveur</div> 
                                {# add form #}
                                <div class="d-flex w-100">
                                    <div class="m-1 w-50">
                                        {{ form_row(addServerForm.addServer.ip) }}
                                    </div>
                                    <div class="m-1">
                                        {{ form_row(addServerForm.addbtn) }}
                                    </div>
                                </div>
                            </div>
                            
                        {{ form_end(addServerForm ) }}
                    </div>
                </div>

                {# supprimer un serveur #}
                <div class="my-4 w-100">
                    <div>
                        {{ form_start(removeServerForm)}}
                            {# errors #}
                            <div class="row form-error m-1">
                            {{ form_errors(removeServerForm)}}
                            </div>
                            <div class="row m-1 ">
                                <div>Supprimer un serveur</div> 
                                {# remove form #}
                                <div class="d-flex w-100">
                                    <div class="m-1 w-50">
                                        {{ form_row(removeServerForm.removeServer.servers) }}
                                    </div>
                                    <div class="m-1">
                                        {{ form_row(removeServerForm.removebtn) }}
                                    </div>
                                </div>
                            </div>
                            
                        {{ form_end(removeServerForm) }}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
