{% extends 'base.html.twig' %}

{% block title %}ajout vhost{% endblock %}

{% block body %}

<div class="vhost-wrapper">
    <div class="container">
            {# adding vhost #}
        <h3 class='text-center my-4 '>Ajouter / supprimer des Vhosts </h1>
        <div class="d-flex flex-column align-items-center w-100">
            <div class="my-4 w-100">
                <div>
                    {{ form_start(addVhostForm)}}
                        {# errors #}
                        <div class="row form-error m-1">
                        {{ form_errors(addVhostForm)}}
                        </div>
                        <div class="row m-1">
                            <div>Ajouter un nouveau Vhost</div> 
                            {# add form #}
                            <div class="d-flex w-100">
                                <div class="m-1 w-50">
                                    {{ form_row(addVhostForm.addVhost.hostname) }}
                                </div>
                                <div class="m-1">
                                    {{ form_row(addVhostForm.addbtn) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(addVhostForm ) }}
                </div>
            </div>

            {# supprimer un serveur #}
            <div class="my-4 w-100">
                <div>
                    {{ form_start(removeVhostForm)}}
                        {# {# <div class="row form-error m-1"> #}
                        {{ form_errors(removeVhostForm)}}
                        </div> 
                            <div class="row m-1 ">
                            <div>Supprimer un Vhost</div> 
                            <div class="d-flex w-100">
                                <div class="m-1 w-50">
                                    {{ form_row(removeVhostForm.removeVhost.vhost) }}
                                </div>
                                <div class="m-1">
                                    {{ form_row(removeVhostForm.removebtn) }}
                                </div>
                            </div>
                        </div> 
                        
                    {{ form_end(removeVhostForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
