{% extends 'base.html.twig' %}

{% block title %}Test page{% endblock %}

{% block body %}

<div class="vhost-wrapper">
    <div class="container">

      {# os info #}
      <div class="p-2">
        <div>os info</div> 
        <div>{{ dump(osInfo) }}</div>
      </div>

      {# disk info #}
      <div class="p-2">
        <div>disk info</div> 
        <div>{{ dump(diskInfo) }}</div>
      </div>
      
      {# sql db list #}
      <div class="p-2">
        <div>sql db list</div> 
        <div>{{ dump(sqlDbList) }}</div>
      </div>

      {# vhost list #}
      <div class="p-2">
        <div>vhost list</div> 
        <div>{{ dump(vhostList) }}</div>
      </div>

      {# tools version list #}
      <div class="p-2">
        <div>tools list</div> 
        <div>{{ dump(toolsList) }}</div>
      </div>

    </div>
</div>
{% endblock %}
